@import 'tailwindcss';

:root {
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;
  --blue-600: #2c7dfa;
  --blue-500: #3685ff;
  --white: #ffffff;

  --spacing-500: 2.5rem;   /* 40px */
  --spacing-300: 1.5rem;   /* 24px */
  --spacing-200: 1rem;     /* 16px */

  --font-size-text-preset-1: 1.375rem; /* 22px */
  --font-size-text-preset-2: 0.9375rem; /* 15px */
}

body {
  max-width: 90rem; /* 1440px */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--slate-300);
}

.article {
  max-width: 17.5rem; /* 280px */
  display: flex;
  padding: 1rem; /* 16px */
  flex-direction: column;
  align-items: center;
  background: var(--color-white, #fff);
  border-radius: 1.25rem; /* 20px */
  box-shadow: 0 1.5625rem 1.5625rem 0 rgba(0, 0, 0, 0.05); /* 25px */
}

.header {
  color: var(--color-slate-900, #1f314f);
  text-align: center;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Outfit, sans-serif;
  font-size: var(--font-size-text-preset-1, 1.375rem); /* 22px */
  font-style: normal;
  font-weight: 700;
  line-height: 1.2; /* 120% */
}

.description {
  color: var(--color-slate-500, #68778d);
  text-align: center;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Outfit, sans-serif;
  font-size: var(--font-size-text-preset-2, 0.9375rem); /* 15px */
  font-style: normal;
  font-weight: 400;
  line-height: 1.4; /* 140% */
  letter-spacing: 0.0125rem; /* 0.2px */
}

.attribution {
  display: none;
}
